<div class="light" style="overflow: hidden;">

    <div  class="container">
        <div class="row center-box">
            <h2 class="nameTitle">I'm Víctor, "Viti" for my friends</h2>
            <div class="scrollableDescription">
                <p>
                I have the pleasure to be of Madrid and to be a FAN of Real Madrid, I think it's
                the less important thing of my live, but the soccer is a good point to start always!
                </p>
                <p>
                    I'm the oldest of a fourth family, my two brothers (Angel & Dani) and my little sister (Haki).
                    I studied Computer Engineer and I found the way to create a lot of and awesome products.
                    I'm considered myself as a passionate of development, but not only for mobile applications
                    or web applications. I'm a big FAN of videogames programming, when I started some years ago I
                    started developing mobile games, because I loved it. But when I started in a little Startups
                    I specializated on mobile applications with iOS and android, but my curiosity and my earns
                    of knowledge help me to understand and make some other developments like API's on PHP, Java or Swift,
                    Web appliactions without frameworks and with frameworks like Angular X*, studied CSS and hated CSS.
                    Started develop some games with SpriteKit, Unity, Unity2d, Cocoa2x, etc
                </p>
                <p>
                    Far away of development I love films and TVShows, my favorites films are the saga of Marvel, I love
                    each film of SuperHero, specially Iron Man, wow it's incredible guy! I love him! But I prefer know
                    a Black Widow before.

                    My favorites TVShows are GoT, Dexter or The Wire. But nothing as Fringe.
                </p>
                <p>
                    In other hand I'm trying to recover my beautifull body working hard at the gym, but the day is to short
                    and my bucket list is too long, so I'm trying.
                </p>
                <p>
                    And about me I think I'm friendly, happy guy and I love learn and teach, be a part of a team and
                    enjoy my day as unique.
                </p>

            </div>
            <p class="bottomAnnotation">
                *This web is maked above Angular 6 and with a pretty CLEAN Arquitecture.
            </p>
        </div>
    </div>

</div>
