<div class="light" style="overflow: hidden;">

    <div class="portfolio">
        <div class="container">
            <h1 class="sectionTitle">Carrer</h1>
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-8">
                    <a href="#">
                        <img class="img-fluid" src="https://is5-ssl.mzstatic.com/image/thumb/Purple128/v4/e2/ed/9c/e2ed9c35-8f2e-c619-4abf-3b13be40e1d7/AppIcon-1x_U007emarketing-85-220-0-9.jpeg/460x0w.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-10">
                    <h3 class="companyTitle">ABA English</h3>
                    <p class="dateTitle">From June 2017 - Current</p>
                    <p class="jobTitle"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium veniam exercitationem expedita laborum at voluptate.
                        Labore, voluptates totam at aut nemo deserunt rem magni pariatur
                        quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2"></div>
            </div>
        <!-- /.row -->

        <!-- Project Two -->
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-8">
                    <a href="#">
                        <img class="img-fluid" src="/assets/images/pangea_logo.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-10">
                    <h3 class="companyTitle">Pangea Reality</h3>
                    <p class="dateTitle">From July 2016 - June 2017</p>
                    <p class="jobTitle"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium veniam exercitationem expedita laborum at voluptate.
                        Labore, voluptates totam at aut nemo deserunt rem magni pariatur
                        quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2"></div>
            </div>
        <!-- /.row -->

        <!-- Project Three -->
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-8">
                    <a href="#">
                        <img class="img-fluid" src="/assets/images/ciber_logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-10">
                    <h3 class="companyTitle">Ciber Global</h3>
                    <p class="dateTitle">From May 2016 - July 2016</p>
                    <p class="jobTitle"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium veniam exercitationem expedita laborum at voluptate.
                        Labore, voluptates totam at aut nemo deserunt rem magni pariatur
                        quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2"></div>
            </div>
        <!-- /.row -->

        <!-- Project Four -->
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-8">
                    <a href="#">
                        <img class="img-fluid" src="/assets/images/santander_logo.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-10">
                    <h3 class="companyTitle">Banco Santander</h3>
                    <p class="dateTitle">From May 2015 - July 2016</p>
                    <p class="jobTitle"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium veniam exercitationem expedita laborum at voluptate.
                        Labore, voluptates totam at aut nemo deserunt rem magni pariatur
                        quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2"></div>
            </div>
        <!-- /.row -->


            <!-- Project Four -->
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-8">
                    <a href="#">
                        <img class="img-fluid" src="/assets/images/qode_logo.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-10">
                    <h3 class="companyTitle">Qode</h3>
                    <p class="dateTitle">From Oct 2014 - May 2015</p>
                    <p class="jobTitle"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium veniam exercitationem expedita laborum at voluptate.
                        Labore, voluptates totam at aut nemo deserunt rem magni pariatur
                        quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2"></div>
            </div>
            <!-- /.row -->

            <!-- Project Four -->
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-8">
                    <a href="#">
                        <img class="img-fluid" src="/assets/images/oido_cocina_logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-10">
                    <h3 class="companyTitle">Oído Cocina!</h3>
                    <p class="dateTitle">From Abr 2014 - Oct 2014</p>
                    <p class="jobTitle"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium veniam exercitationem expedita laborum at voluptate.
                        Labore, voluptates totam at aut nemo deserunt rem magni pariatur
                        quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2"></div>
            </div>
            <!-- /.row -->

            <!-- Project Four -->
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-2 col-md-2 col-sm-8">
                    <a href="#">
                        <img class="img-fluid" src="/assets/images/spotbros_logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2"></div>
                <div class="col-lg-5 col-md-5 col-sm-10">
                    <h3 class="companyTitle">Spotbros</h3>
                    <p class="dateTitle">From Nov 2013 - Mar 2014</p>
                    <p class="jobTitle"></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Laudantium veniam exercitationem expedita laborum at voluptate.
                        Labore, voluptates totam at aut nemo deserunt rem magni pariatur
                        quos perspiciatis atque eveniet unde.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2"></div>
            </div>
            <!-- /.row -->
    </div>

</div>
