<div class="light" style="overflow: hidden;">

    <div  class="container backgroundviti">
      <div class="row">
        <img class="projectHeaderImage" src="http://placehold.it/700x400" alt="">
        <h1 class="projectTitles">AKA7</h1>
        <p class="projectDescription">I created this brand some years ago, every applications I developed during this last years are above this name on the AppStore or Google Play.</p>
        <div class="row">
        <div class="col-md-4 mb-4">
          <div class="cards">
            <img class="cards-img" src="http://placehold.it/700x400" alt="">
            <div class="cards-body">
              <h2 class="cards-title">CRLaserTag</h2>
              <p class="cards-text">I started with two games using <b>Cocos2d</b> for iOS. <b>CRLaserTag</b> It was a game to punch a Cristiano animation with a laser. With three games mode.
              Two years after the release Apple removed from the store because they think it need images directions.</p>
              <p class="cards-text">With the same animation of Cristiano I developed a plattform jump game for android. It app had 24 levels where you play jumpins some shields of other teams,
              papparatzzies and Falcao and Messi animations. With the same reason Google decided removed it from the store.</p>
              <p class="cards-text">My best app was <b>TriviSeries</b>. I developed an iOS mobile game about TVShows. It's like a Trivial but only with TVShows questions. Divided in 5 types
                <a href="https://apkpure.com/es/ronaldo-runner-free/es.aka7.ronaldorunner">https://apkpure.com/es/ronaldo-runner-free/es.aka7.ronaldorunner</a></p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="cards ">
            <img class="cards-img" src="http://placehold.it/700x400" alt="">
            <div class="cards-body">
              <h2 class="cards-title">Ronaldo Runner</h2>

              <p class="cards-text">When we are developing we need keep in mind the <b>SOLID</b> principles, because there are not a Law are only a good principles to keep in mind
                and try to use if is possible to improve or code and our dependencies.</p>
              <p class="cards-text">Try to do our code the best <b>CLEAN code</b> Is the most important thing that one developer should be keep in mind.</p>
              <p class="cards-text">When I develop in iOS I use a custom or addaptated architecture, it's help me to avoid the dependencies,
                do all my code testable and mantenible. You can read more about this architecture on my posts in medium. </p>
              <p class="cards-text">This website is build in Angular 6 and I addopted my own architecture. You can check this project on GitHub also</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="cards">
            <img class="cards-img" src="http://placehold.it/700x400" alt="">
            <div class="cards-body">
              <h2 class="cards-title">TriviSeries</h2>
              <p class="cards-text">Mi mother languages is <b>Spanish</b>.</p>
              <p class="cards-text">And what say about <b>English</b>. I don't have a perfect skills on this languages, but I'm working hard to obtain a great level on it.</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        </div>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="cards">
              <img class="cards-img" src="http://placehold.it/700x400" alt="">
              <div class="cards-body">
                <h2 class="cards-title">QuickAccess</h2>
                <p class="cards-text">I created this brand some years ago, all the applications I developed this years are above this name on the AppStore or Google Play.</p>
                <p class="cards-text">I started with two games using <b>Cocos2d</b> for iOS. <b>CRLaserTag</b> It was a game to punch a Cristiano animation with a laser. With three games mode.
                  Two years after the release Apple removed from the store because they think it need images directions.</p>
                <p class="cards-text">With the same animation of Cristiano I developed a plattform jump game for android. It app had 24 levels where you play jumpins some shields of other teams,
                  papparatzzies and Falcao and Messi animations. With the same reason Google decided removed it from the store.</p>
                <p class="cards-text">My best app was <b>TriviSeries</b>. I developed an iOS mobile game about TVShows. It's like a Trivial but only with TVShows questions. Divided in 5 types
                  <a href="https://apkpure.com/es/ronaldo-runner-free/es.aka7.ronaldorunner">https://apkpure.com/es/ronaldo-runner-free/es.aka7.ronaldorunner</a></p>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-4">
            <div class="cards ">
              <img class="cards-img" src="http://placehold.it/700x400" alt="">
              <div class="cards-body">
                <h2 class="cards-title">Moni</h2>

                <p class="cards-text">When we are developing we need keep in mind the <b>SOLID</b> principles, because there are not a Law are only a good principles to keep in mind
                  and try to use if is possible to improve or code and our dependencies.</p>
                <p class="cards-text">Try to do our code the best <b>CLEAN code</b> Is the most important thing that one developer should be keep in mind.</p>
                <p class="cards-text">When I develop in iOS I use a custom or addaptated architecture, it's help me to avoid the dependencies,
                  do all my code testable and mantenible. You can read more about this architecture on my posts in medium. </p>
                <p class="cards-text">This website is build in Angular 6 and I addopted my own architecture. You can check this project on GitHub also</p>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-4">
            <div class="cards">
              <img class="cards-img" src="http://placehold.it/700x400" alt="">
              <div class="cards-body">
                <h2 class="cards-title">Viking Face</h2>
                <p class="cards-text">Mi mother languages is <b>Spanish</b>.</p>
                <p class="cards-text">And what say about <b>English</b>. I don't have a perfect skills on this languages, but I'm working hard to obtain a great level on it.</p>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
        </div>
      </div>
      <hr class="separator">
      <div class="row">
        <img class="projectHeaderImage" src="http://placehold.it/700x400" alt="">
        <h1 class="projectTitles">DevSoul</h1>
        <p class="projectDescription">During my freelance career, I created a team to develop some solutions for 3th party. Some startups contact with us to
        obtain our help to develop some solutions for differents markets. We offer a 360 solutions, mobile and web apps, always native apps, and for web we
        love angular. Also we offer an API services above PHP, JAVA or Swift. We have some DevOps experts, so also we cover the deploys and servers infraestructure,
        above AWS or GCP, also we offer a simple solution working with DigitalOcean or Linode as our favorites providers. Here are some examples about we work:</p>
        <div class="row">
        <div class="col-md-4 mb-4">
          <div class="cards">
            <img class="cards-img" src="http://placehold.it/700x400" alt="">
            <div class="cards-body">
              <h2 class="cards-title">MicroBoxes</h2>
              <p class="cards-text">I created this brand some years ago, all the applications I developed this years are above this name on the AppStore or Google Play.</p>
              <p class="cards-text">I started with two games using <b>Cocos2d</b> for iOS. <b>CRLaserTag</b> It was a game to punch a Cristiano animation with a laser. With three games mode.
                Two years after the release Apple removed from the store because they think it need images directions.</p>
              <p class="cards-text">With the same animation of Cristiano I developed a plattform jump game for android. It app had 24 levels where you play jumpins some shields of other teams,
                papparatzzies and Falcao and Messi animations. With the same reason Google decided removed it from the store.</p>
              <p class="cards-text">My best app was <b>TriviSeries</b>. I developed an iOS mobile game about TVShows. It's like a Trivial but only with TVShows questions. Divided in 5 types</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="cards ">
            <img class="cards-img" src="http://placehold.it/700x400" alt="">
            <div class="cards-body">
              <h2 class="cards-title">aeroclAPP</h2>

              <p class="cards-text">When we are developing we need keep in mind the <b>SOLID</b> principles, because there are not a Law are only a good principles to keep in mind
                and try to use if is possible to improve or code and our dependencies.</p>
              <p class="cards-text">Try to do our code the best <b>CLEAN code</b> Is the most important thing that one developer should be keep in mind.</p>
              <p class="cards-text">When I develop in iOS I use a custom or addaptated architecture, it's help me to avoid the dependencies,
                do all my code testable and mantenible. You can read more about this architecture on my posts in medium. </p>
              <p class="cards-text">This website is build in Angular 6 and I addopted my own architecture. You can check this project on GitHub also</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="cards">
            <img class="cards-img" src="http://placehold.it/700x400" alt="">
            <div class="cards-body">
              <h2 class="cards-title">Portugal</h2>
              <p class="cards-text">Mi mother languages is <b>Spanish</b>.</p>
              <p class="cards-text">And what say about <b>English</b>. I don't have a perfect skills on this languages, but I'm working hard to obtain a great level on it.</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        </div>
      </div>
      <hr class="separator">
      <div class="row">
        <img class="projectHeaderImage" src="http://placehold.it/700x400" alt="">
        <h1 class="projectTitles">TourWhiz</h1>
        <p class="projectDescription">Some years ago I received the offer to contribuited inside a team to create a Travel Product. We loved the idea and start to develop
        all we need. To avoid an expense cost to develop the plattform I developed all solution for iOS with a native app, a WebSite panel to offer our clients to modify their
        profiles with a back office, and developed all webservices with Laravel(PHP) this API have more than 130 webservices for do all things we need. I managed a team of developers
        where are Android Guy, Web guy and DevOps guy.</p>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="cards">
              <img class="cards-img" src="http://placehold.it/700x400" alt="">
              <div class="cards-body">
                <h2 class="cards-title">iOS App</h2>
                <p class="cards-text">I created this brand some years ago, all the applications I developed this years are above this name on the AppStore or Google Play.</p>
                <p class="cards-text">I started with two games using <b>Cocos2d</b> for iOS. <b>CRLaserTag</b> It was a game to punch a Cristiano animation with a laser. With three games mode.
                  Two years after the release Apple removed from the store because they think it need images directions.</p>
                <p class="cards-text">With the same animation of Cristiano I developed a plattform jump game for android. It app had 24 levels where you play jumpins some shields of other teams,
                  papparatzzies and Falcao and Messi animations. With the same reason Google decided removed it from the store.</p>
                <p class="cards-text">My best app was <b>TriviSeries</b>. I developed an iOS mobile game about TVShows. It's like a Trivial but only with TVShows questions. Divided in 5 types</p>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-4">
            <div class="cards ">
              <img class="cards-img" src="http://placehold.it/700x400" alt="">
              <div class="cards-body">
                <h2 class="cards-title">Angular App for BIZ</h2>

                <p class="cards-text">When we are developing we need keep in mind the <b>SOLID</b> principles, because there are not a Law are only a good principles to keep in mind
                  and try to use if is possible to improve or code and our dependencies.</p>
                <p class="cards-text">Try to do our code the best <b>CLEAN code</b> Is the most important thing that one developer should be keep in mind.</p>
                <p class="cards-text">When I develop in iOS I use a custom or addaptated architecture, it's help me to avoid the dependencies,
                  do all my code testable and mantenible. You can read more about this architecture on my posts in medium. </p>
                <p class="cards-text">This website is build in Angular 6 and I addopted my own architecture. You can check this project on GitHub also</p>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
          <div class="col-md-4 mb-4">
            <div class="cards">
              <img class="cards-img" src="http://placehold.it/700x400" alt="">
              <div class="cards-body">
                <h2 class="cards-title">API</h2>
                <p class="cards-text">I decided use <b>Laravel(PHP)</b>. The first reason was that in this moment PHP was the language that I knew more. And the framework
                Laravel give as a good and fast solution to implement a good security layers and fast development. </p>
                <p class="cards-text">This API count with more than <b>130 web services</b>. The API provides to mobile apps iOS and android all the data and have some methods to the administration
                  back office and for the BIZ panel. For that I decided separate the API in two projects, to maintaning the different clients independiently.</p>
              </div>
            </div>
          </div>
          <!-- /.col-md-4 -->
        </div>

      </div>
    </div>

</div>
