<div class="light" style="overflow: hidden;">
  
    <div class='heading'>
        <div class="container-fluid">
        <h1>
            <a href="#" tilte="NSViking">
                <img src="assets/images/ironman.jpg" width="200" alt="NSViking">
            </a>
        </h1>
        </div>
    </div>

    <div class='container-fluid'>
        <div class="row">
            <h1>Nice to meet u!</h1>
            <h2>I'm Victor and I'm Software Engineer</h2>
            <p>Welcome to my virtual CV made with Angular</p>
        </div>
    </div>

</div>
