<div class="light" style="overflow: hidden;">

    <div  class="container backgroundviti">
      <h1 class="skillsTitles">Languages & Tools</h1>
      <p class="skillsDescription">As an Engineer Computer from University Complutense Madrid (UCM) I learnt a lot of programming languages,
      but my curiosity and ambittion to know comes me to learn a lot of tools that I can use to Develop, Design,
      Deploy and much more.</p>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row">
            <figure class="ball objectPascal">
            <span class="shadow">
              <a class="text">Pascal</a>
            </span>
            </figure>
          </div>
          <div class="row">
            <figure class="ball languageC">
                <span class="shadow">
                  <a class="text">C</a>
                </span>
            </figure>
            <figure class="ball java">
                <span class="shadow">
                  <a class="text">Java</a>
                </span>
            </figure>
          </div>
          <div class="row">
            <figure class="ball languageCCC">
            <span class="shadow">
              <a class="text">C++</a>
            </span>
            </figure>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row">
            <div class="col">
              <figure class="ball objectC">
                <span class="shadow">
                  <a class="text">Objective-C</a>
                </span>
              </figure>
            </div>
            <div class="col">
              <figure class="ball swift">
                <span class="shadow">
                  <a class="text">Swift</a>
                </span>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <figure class="ball android">
            <span class="shadow">
              <a class="text">android</a>
            </span>
              </figure>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="row">
              <div class="col">
                <figure class="ball kubernetes">
                <span class="shadow">
                  <a class="littleText">Kubernetes</a>
                </span>
                </figure>
                <figure class="ball jenkins">
                <span class="shadow">
                  <a class="littleText">Jenkins</a>
                </span>
                </figure>
              </div>
              <div class="col">
                <figure class="ball docker">
                <span class="shadow">
                  <a class="littleText">Docker</a>
                </span>
                </figure>
                <figure class="ball apache">
                <span class="shadow">
                  <a class="littleText">Apache</a>
                </span>
                </figure>
              </div>
          </div>
          <div class="row">
              <figure class="ball aws">
            <span class="shadow">
              <a class="littleText">AWS</a>
            </span>
              </figure>
              <figure class="ball gcp">
            <span class="shadow">
              <a class="littleText">GCP</a>
            </span>
              </figure>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="row">
              <figure class="ball laravel">
            <span class="shadow">
              <a class="littleText">Laravel</a>
            </span>
              </figure>
              <figure class="ball php">
            <span class="shadow">
              <a class="littleText">Php</a>
            </span>
            </figure>
          </div>
          <div class="row">
              <figure class="ball html">
                <span class="shadow">
                  <a class="littleText">HTML</a>
                </span>
              </figure>
              <figure class="ball css">
                <span class="shadow">
                  <a class="littleText">CSS</a>
                </span>
              </figure>
          </div>
          <div class="row">
              <figure class="ball jquery">
            <span class="shadow">
              <a class="littleText">JQuery</a>
            </span>
              </figure>

              <figure class="ball angular">
            <span class="shadow">
              <a class="littleText">AngularX</a>
            </span>
            </figure>
            <figure class="ball js">
            <span class="shadow">
              <a class="littleText">JS</a>
            </span>
            </figure>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="row">
            <figure class="ball">
            <span class="shadow">
              <a class="littleText">Sketch</a>
            </span>
            </figure>
          </div>
          <div class="row">
            <figure class="ball">
                <span class="shadow">
                  <a class="littleText">Illustrator</a>
                </span>
            </figure>
            <figure class="ball">
                <span class="shadow">
                  <a class="littleText">Photoshop</a>
                </span>
            </figure>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="row">
              <figure class="ball objectC">
                <span class="shadow">
                  <a class="text">MySQL</a>
                </span>
              </figure>
              <figure class="ball swift">
                <span class="shadow">
                  <a class="text">MongoDB</a>
                </span>
              </figure>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
          <div class="row">
            <div class="col">
              <figure class="ball kubernetes">
                <span class="shadow">
                  <a class="littleText">ARM</a>
                </span>
              </figure>
              <figure class="ball jenkins">
                <span class="shadow">
                  <a class="littleText">Phyton</a>
                </span>
              </figure>
            </div>
            <div class="col">
              <figure class="ball docker">
                <span class="shadow">
                  <a class="littleText">VHDL</a>
                </span>
              </figure>
              <figure class="ball apache">
                <span class="shadow">
                  <a class="littleText">Arduino</a>
                </span>
              </figure>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h1 class="skillsTitles">Other Skills</h1>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="cards">
            <div class="cards-body">
              <h2 class="cards-title">Managment</h2>
              <p class="cards-text">The most important think when you are working in a project, it's doesn't matter the language or the platform, the most importan is
                the requisites and the comunication between business Owners and the team. Because with that this bussiness layer help us to define exactly what we need
                and what we want. For that in my opion the <b>Agile techniques</b> like <b>SCRUM</b> are here to help us. <b>Refinment, Planning, Daylies or Retrospective</b> are some meetings where we
                can learn and improve our team to continue growth well.</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="cards ">
            <div class="cards-body">
              <h2 class="cards-title">Development Skills</h2>

              <p class="cards-text">When we are developing we need keep in mind the <b>SOLID</b> principles, because there are not a Law are only a good principles to keep in mind
              and try to use if is possible to improve or code and our dependencies.</p>
              <p class="cards-text">Try to do our code the best <b>CLEAN code</b> Is the most important thing that one developer should be keep in mind.</p>
              <p class="cards-text">When I develop in iOS I use a custom or addaptated architecture, it's help me to avoid the dependencies,
                do all my code testable and mantenible. You can read more about this architecture on my posts in medium. </p>
              <p class="cards-text">This website is build in Angular 6 and I addopted my own architecture. You can check this project on GitHub also</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="cards">
            <div class="cards-body">
              <h2 class="cards-title">Languages</h2>
              <p class="cards-text">Mi mother languages is <b>Spanish</b>.</p>
              <p class="cards-text">And what say about <b>English</b>. I don't have a perfect skills on this languages, but I'm working hard to obtain a great level on it.</p>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->
</div>
